body{
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    justify-items: center;
    align-items: center;
}

.div1{
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(0, 89, 255);
    height: 670px;
    width: 500px;
}


.s1{
    color:goldenrod ;
}

.s2{
    color: rgb(4, 4, 136);
}

.s3{
    color: white;
}

.info{
    color:rgb(0, 89, 255) ;
    font-family: sans-serif;
}

.info:hover{
    transition: 1s;
    color: white;
}

.div1:hover{
    transition: 1s;
    width: 600px;
}

.img1{
    width: 400px;
    border-radius:8px ;
    position: absolute;
    left: 0px;
}

.img2{
    width: 400px;
    border-radius: 8px;
    position: absolute;
    right: 0px;
}