body{
    background-image: url(image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.p1{
    color: white;
    font-size: 20px;
}
.p2{
    color: white;
}