h1{
    text-align: center;
    text-shadow: 5px 2px 1px white;
    background-color:aquamarine;
    text-decoration: underline; 
}
.p1{
    text-align: center;
    text-shadow: 5px 2px 1px white;
    background-color:aquamarine; 
}
.h3{
    text-align: center;
    text-shadow: 5px 2px 1px white;
    background-color:aquamarine;     
}
.p2{
    text-align: center;
    text-shadow: 5px 2px 1px white;
    background-color:aquamarine; 
}