body{
    background-color: black;
}
.Green{
    height: 400px;
    width: 100%;
    background-color: green;
    border:  5px black solid ;
}
.red{
    height: 500px;
    width: 100%;
    background-color: red;
    border:  5px black solid ;
}
.parent{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.OY{
    display: flex;
    flex-direction: column;
    border:  5px black solid ;
    width: 100%;
}
.orange{
    height: 250px;
    width: 100%;
    background-color: orange;
    border:  5px black solid ;
}
.yellow{
    height: 250px;
    width: 100%;
    background-color: yellow;
    border:  5px black solid ;
}
