body{
    background-color: rgb(35, 59, 2);
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 700px;
    padding-right: 700px;
}
.Main{
    background-color: rgb(0, 105, 44);
    border: 2px solid white;
    border-radius: 30px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 6px 20px white;
}
.text{
    background-color: rgb(0, 7, 105);
    border: 2px solid white;
    border-radius: px;
    background: linear-gradient(to bottom, white, rgb(59, 122, 53));
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 