@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Sixtyfour+Convergence&display=swap');
.p1{
    font-family: monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Ga+Maamli&display=swap');
.p2{
    font-family: monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Ga+Maamli&display=swap');
.p3{
    font-family: monospace;
}